@media (max-width: 583px) {
    .email-text, .linkedin-text{
      font-size: 0.9rem; 
    }
  }

  @media (max-width: 460px) {
    .email-text, .linkedin-text {
      font-size: 0.7rem; 
    }
  }
  @media (max-width: 380px) {
    .email-text, .linkedin-text {
      font-size: 0.5rem; 
    }
  }
  

  .container-fluid {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .contact-card {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
  }
  
  .email-text, .linkedin-text {
    color: var(--text-color);
  }
  
  